<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_PaymentEngine">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://wsbeta.bloyal.com/WS35/PaymentEngine.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PaymentEngine" contract="PaymentEngine.PaymentEngine" name="BasicHttpBinding_PaymentEngine" />
    </client>
  </system.serviceModel>
</configuration>