<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVirtualClient" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.8.194:84/VirtualClient" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IVirtualClient" contract="DinerwareServiceReference.IVirtualClient"
                name="BasicHttpBinding_IVirtualClient" />
        </client>
    </system.serviceModel>
</configuration>