<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bLoyal" version="1.0.4.7" targetFramework="net452" />
  <package id="bLoyal.Connectors.Grid" version="1.0.4.48" targetFramework="net452" />
  <package id="bLoyal.DinerwareBrain" version="3.7.4.4068" targetFramework="net452" />
  <package id="bLoyal.LoyaltyEngine" version="1.0.4.21" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.CSharp" version="4.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
</packages>